/*------------------------------------------------------------------ 
 *[Master Stylesheet] 
 *
 *Author:			Max Nanis <MaxN [at] bennington [dot] edu>
 *Version:	    1.1
 *Last change:	1/20/10
 *Primary use:	Those Apple Guys 
 *
 *-------------------------------------------------------------------

@import "partials/vars_and_mixins"
@import "partials/footer"
@import "partials/navbar"
@import "partials/header"


body
  height: 100%
  background: #f8f4ea url(../images/backgrounds/bg.png) repeat-x 
  font-family: $font

a
  text-decoration: none

#service_info img.services_pics
  position: relative
  float: right
  width: 35%
  padding: 1em 0 1em 1em
  border-left: .1em solid gray
  margin-left: 1em

#container
  width: 1000px
  padding: 0
  min-height: 100%
  height: 100%
  text-align: left
  margin: 0 auto

html>body #container
  height: auto
  float: none

img#guys
  position: absolute
  margin-top: 24%
  width: 50%
  z-index: 1

/*  ************* Content Layout  *************

#contact_locations
  text-align: center
  background: transparent no-repeat
  margin: 3em auto 2em auto
  h2
    width: 100%
    text-align: center
    color: #515151
    font: 200% Georgia, "Times New Roman", Times, serif
    margin-bottom: .5em

.contact_bubbles
  +border-radius
  +box-shadow
  width: 46%
  font-family: $font
  position: relative
  padding: 1em
  background: white url(../images/backgrounds/contact_locations_bg.png) repeat-y right center
#ambler
  float: left
#westchester
  float: right

#contact_locations img
  float: left
  position: relative
  width: 50%
  border-style: none

img#ichat
  float: left
  width: 28%
  display: block
  position: relative
  padding-top: 1em
  padding-bottom: 1em
  padding-left: 3.5em

/*  ************* Bio Layout  *************

#bio_group
  width: 100%
  height: 100%
  margin-top: $content-margin
  margin-bottom: $content-margin

.bio
  +border-radius
  +box-shadow
  text-align: center
  display: block
  padding: 1em
  font-family: $font
  position: relative
  width: 46%
#chip
  clear: left
  float: left
  background: white url(../images/about/apple_chip.png) no-repeat 96% 17.8em
#jay
  clear: right
  float: right
  background: white url(../images/about/apple_jay.png) no-repeat 96% 17.8em

.info
  text-align: center
  float: right
  width: 46%
  font-family: $font
  h2
    color: #525252
    z-index: 1
    text-transform: capitalize
    font: small-caps 260% Georgia, "Times New Roman", Times, serif
  p
    color: #282828
    text-align: center
    white-space: normal
    z-index: 1
    word-spacing: .2em
    margin: 0
    padding-left: 1em
    padding-right: 1em

blockquote.info
  margin: 2em auto 
  font-style: italic
  width: 100%
  &:before
    float: left
    font-family: Georgia
    margin-bottom: -10em
    font-size: 300%
    content: '"'
    color: #d3d2d3
    opacity: 0.5
    margin-left: -0.9em
    margin-top: -0.5em
    position: relative
    width: 50%
  &:after
    float: right
    font-family: Georgia
    content: '"'
    font-size: 300%
    color: #d3d2d3
    opacity: 0.49
    padding-right: .2em
    height: .4em

  img
    &#chip_pic, &#jay_pic
      width: 225px
      position: relative

.video_bio_button
  +fancy-button(#1c1c1c, 20px, 15px)
  width: 120px
  height: 45px
  font-size: 15px
  display: block
  font-family: $font
  position: absolute
  bottom: 1.2em
  right: 5em

.bio_pic
  float: left

img#apple_logo
  width: 8%
  float: left
  position: absolute
  top: 18.3em
  left: 26.5em

img
  &#chip_pic, &#jay_pic
    width: 225px
    position: relative

#bio h2
  color: #525252
  z-index: 1
  text-transform: capitalize
  font: small-caps 260% Georgia, "Times New Roman", Times, serif

#contact_locations h3
  color: #515151
  text-transform: capitalize
  font: small-caps 260% Georgia, "Times New Roman", Times, serif
  margin-bottom: .5em

#tagus blockquote p
  clear: none
  position: relative
  margin-top: 1.5em
  color: gray

#container div#top_footer #backgrounds
  float: left
  clear: right
  padding-top: 3em
  width: 9.9em

#backgrounds img#background
  width: 20em
  position: relative
  z-index: 0
  float: left
  padding-right: 3em
  bottom: 2.5em
  display: block
  clear: left
