/*------------------------------------------------------------------ 
[Master Stylesheet IE Only] 

Author:			Max Nanis <MaxN [at] bennington [dot] edu>
Version:	    1.1
Last change:	1/20/10
Primary use:	Those Apple Guys 

-------------------------------------------------------------------*/

#ie-warning {
	margin:    0;
	padding:    7px 30px 7px 10px;
	border-bottom:    2px solid #f8f4ea;
	background-color:    #4a0f0e;
	background-image:    none;
	text-align:    center;
}

#ie-warning p {
	margin:    4px 0 0;
	color:    #fffeff;
	font:    12px/1 Georgia, "Times New Roman", Times, serif;
}

#ie-warning p a {
	color:    #83b8ff;
	text-decoration:    underline;
	font-weight:    bold;
	font-size:    110%;
}

#ie-warning p a:hover {
	color:    #ff8970;
	font-weight:    bold;
	font-style:    italic;
}

* {
	margin-top:    0;
	margin-left:    0;
	margin-bottom:    0;
	margin:    0;
	padding-bottom:    0;
	padding-left:    0;
	padding-right:    0;
	font-family:    Georgia, "Times New Roman", Times, serif;
}

#service_info img.services_pics {
	position:    relative;
	float:    right;
	width:    35%;
	padding:    1em 0 1em 1em;
	border-left:    .1em solid gray;
	margin-left:    1em;
}

body {
	background:    #f8f4ea url(images/backgrounds/bg.png) repeat-x;
}

#container {
	width:    1000px;
	text-align:    left;
	padding:    0;
	margin:    0;
	margin-left:    100px;
}

/*  ************* Header Layout  ************* */

#container #header {
	clear:    both;
	font-size:    1px;
	color:    #fefdfb;
	height:    131px;
	left:    100px;
	margin:    0px;
	padding:    0px;
}

#header a {
	text-decoration:    none;
	font-weight:    normal;
	font-style:    normal;
	border:    none;
}

#container #header img#header_logo {
	font-weight:    normal;
	font-style:    normal;
	text-decoration:    none;
	border:    none;
	height:    80px;
	position:    relative;
	margin-top:    1%;
}

#container #header img#whitehead {
	float:    left;
	clear:    right;
	height:    95px;
	position:    absolute;
	left:    950px;
}

img#quote {
	float:    left;
	clear:    right;
	position:    absolute;
	top:    72px;
	height:    55px;
	left:    735px;
}

#header h1 {
	width:    1px;
	height:    1px;
	color:    fuchsia;
	top:    -9999px;
}

/*  ************* NavBar Layout  ************* */

#container #navbar {
	display:    inline-block;
	clear:    left;
	position:    relative;
	top:    -33px;
	background:    none;
	height:    45px;
	margin:    0;
	padding:    0;
}

#container #navbar h2 {
	color:    #987c5c;
	display:    inline-block;
	padding:    0;
	font:    normal 120% Georgia, "Times New Roman", Times, serif;
	margin:    0;
	float:    right;
	position:    relative;
	left:    -30px;
	top:    -36px;
}

#navbar ul {
	list-style:    none;
	display:    inline-block;
	text-indent:    0;
	padding-top:    0px;
	padding-bottom:    0px;
	margin-left:    auto;
	margin-right:    auto;
	background-color:    transparent;
	padding:    0;
	height:    45px;
}

#navbar li {
	list-style:    none;
	display:    inline;
	float:    left;
	padding-top:    0;
	height:    45px;
}

#navbar a {
	display:    block;
	padding:    0;
	margin:    0;
	float:    left;
	background-color:    #f8f4ea;
	height:    45px;
	width:    120px;
	text-align:    left;
	clear:    left;
}

#navbar #home a {
	background:    url(images/buttons/navbar/home.png) no-repeat center left;
}

#navbar #about a {
	background:    url(images/buttons/navbar/about.png) no-repeat center left;
}

#navbar #services a {
	background:    url(images/buttons/navbar/services.png) no-repeat center left;
}

#navbar #contact a {
	background:    url(images/buttons/navbar/contact.png) no-repeat center left;
}

#navbar #home a:hover {
	background:    url(images/buttons/navbar/home_hover.png) no-repeat center left;
}

#navbar #about a:hover {
	background:    url(images/buttons/navbar/about_hover.png) no-repeat center left;
}

#navbar #services a:hover {
	background:    url(images/buttons/navbar/services_hover.png) no-repeat center left;
}

#navbar #contact a:hover {
	background:    url(images/buttons/navbar/contact_hover.png) no-repeat center left;
}

div#sitemap  h3 {
	color:    #515151;
	font:    2em Georgia, "Times New Roman", Times, serif;
}

div#contact_info  h3 {
	color:    #515151;
	font:    2em Georgia, "Times New Roman", Times, serif;
}

div#email_sub  h3 {
	color:    #515151;
	font:    2em Georgia, "Times New Roman", Times, serif;
	padding-bottom:    .5em;
}

#discription p {
	color:    #282828;
	padding:    1;
	text-align:    left;
	white-space:    normal;
	z-index:    1;
	font-family:    Georgia, "Times New Roman", Times, serif;
	margin:    1em;
	word-spacing:    .2em;
}

#discription p em {
	font-style:    normal;
	font-weight:    normal;
}

#discription h2 {
	color:    #525252;
	z-index:    1;
	text-transform:    uppercase;
	font:    small-caps 260% Georgia, "Times New Roman", Times, serif;
}

img#bio_video {
	width:    8em;
	float:    left;
	border-style:    none;
	top:    18.6em;
	left:    17.4em;
}

/*  ************* Content Layout  ************* */

#container #contact_locations {
	float:    left;
	text-align:    center;
	z-index:    2;
	background:    transparent no-repeat;
	padding:    0;
	margin:    0;
	margin-left:    25px;
	height:    500px;
}

#container div#contact_locations #ambler {
	clear:    left;
	float:    left;
	width:    46%;
	z-index:    0;
	font-family:    "Lucida Grande", Lucida, Verdana, sans-serif;
	padding:    1em;
	background:    white url(images/backgrounds/contact_locations_bg.png) repeat-y right center;
	border:    .1em solid #d3d2d3;
	-moz-border-radius:    10px;
	-webkit-border-radius:    10px;
	-moz-box-shadow:    2px 3px 8px #d3d2d3;
	-webkit-box-shadow:    2px 3px 8px #d3d2d3;
	margin-right:    0px;
}

#container div#contact_locations #westchester {
	width:    46%;
	z-index:    0;
	font-family:    "Lucida Grande", Lucida, Verdana, sans-serif;
	padding:    1em;
	position:    relative;
	background:    white url(images/backgrounds/contact_locations_bg.png) repeat-y right center;
	border:    .1em solid #d3d2d3;
	-moz-border-radius:    10px;
	-webkit-border-radius:    10px;
	-moz-box-shadow:    2px 3px 8px #d3d2d3;
	-webkit-box-shadow:    2px 3px 8px #d3d2d3;
}

#contact_locations h2 {
	text-align:    center;
	color:    #515151;
	font:    200% Georgia, "Times New Roman", Times, serif;
	margin-bottom:    .5em;
}

#contact_locations img {
	float:    left;
	position:    relative;
	width:    50%;
	border-style:    none;
}

img#ichat {
	float:    left;
	display:    block;
	position:    relative;
	padding:    50px;
	margin:    10px;
	padding-left:    20px;
	margin-left:    40px;
	width:    130px;
}

/*  ************* Bio Layout  ************* */

#container #bio {
	float:    left;
	text-align:    center;
	z-index:    2;
	background:    transparent no-repeat;
	margin-top:    2.8em;
	display:    block;
	height:    370px;
}

#container div#bio #chip {
	clear:    left;
	float:    left;
	width:    46%;
	z-index:    0;
	font-family:    "Lucida Grande", Lucida, Verdana, sans-serif;
	padding:    1em;
	background:    white url(images/about/apple_chip.png) no-repeat 95% 95%;
	border:    .1em solid #d3d2d3;
	-moz-border-radius:    10px;
	-webkit-border-radius:    10px;
	-moz-box-shadow:    2px 3px 8px #d3d2d3;
	-webkit-box-shadow:    2px 3px 8px #d3d2d3;
	position:    relative;
}

#container div#bio p {
	color:    #282828;
	padding:    1;
	text-align:    left;
	white-space:    normal;
	z-index:    1;
	font-family:    Georgia, "Times New Roman", Times, serif;
	word-spacing:    .2em;
	width:    40%;
	float:    left;
	margin:    0;
	padding-left:    1em;
	padding-right:    1em;
	text-indent:    0;
}

div#bio blockquote {
	text-align:    left;
	float:    left;
	margin:    2em 1em 1em;
	width:    43%;
	font-style:    italic;
	font-family:    Georgia, "Times New Roman", Times, serif;
	text-indent:    0;
}

div#bio .bqstart {
	float:    left;
	margin-bottom:    -50em;
	font-size:    40px;
	color:    #d3d2d3;
	position:    relative;
}

div#bio .bqend {
	float:    right;
	font-size:    40px;
	color:    #d3d2d3;
	padding-right:    .2em;
	height:    .4em;
}

img#apple_logo {
	width:    8%;
	float:    left;
	top:    18.3em;
	left:    26.5em;
}

#container div#bio #jay {
	clear:    right;
	float:    right;
	width:    46%;
	z-index:    0;
	font-family:    "Lucida Grande", Lucida, Verdana, sans-serif;
	padding:    1em;
	background:    white url(images/about/apple_jay.png) no-repeat 95% 95%;
	border:    .1em solid #d3d2d3;
	-moz-border-radius:    10px;
	-webkit-border-radius:    10px;
	-moz-box-shadow:    2px 3px 8px #d3d2d3;
	-webkit-box-

shadow:    2px 3px 8px #d3d2d3;
	/*height:    100%;*/


position:    relative;
}

img#chip_pic {
	width:    50%;
	text-shadow:    gray 5em 5px 10px;
	position:    relative;
	float:    left;
}

img#jay_pic {
	width:    50%;
	position:    relative;
	float:    left;
}

#bio h2 {
	color:    #525252;
	z-index:    1;
	text-transform:    capitalize;
	font:    small-caps 260% Georgia, "Times New Roman", Times, serif;
}

#contact_locations h3 {
	color:    #515151;
	text-transform:    capitalize;
	font:    small-caps 260% Georgia, "Times New Roman", Times, serif;
	margin-bottom:    .5em;
}

#tagus blockquote p {
	float:    right;
	clear:    none;
	position:    relative;
	margin-top:    1.5em;
	color:    gray;
}

#container div#top_footer #backgrounds {
	float:    left;
	clear:    right;
	padding-top:    75px;
	width:    9.9em;
}

#backgrounds img#background {
	width:    290px;
	position:    relative;
	z-index:    0;
	float:    left;
	padding-right:    75px;
	bottom:    60px;
	display:    block;
	clear:    left;
}

/*  ************* Services Layout  ************* */

div#services {
	display:    block;
	position:    relative;
	float:    left;
	-moz-border-radius-bottomleft:    10px;
	-moz-border-radius-bottomright:    10px;
	-webkit-border-bottom-left-radius:    10px;
	-webkit-border-bottom-right-radius:    10px;
	-moz-box-shadow:    2px 3px 8px #d3d2d3;
	-webkit-box-shadow:    2px 3px 8px #d3d2d3;
	border:    .1em solid #d3d2d3;
	margin:    0px;
	padding:    0px;
	background:    white url(images/logo/apple_guys_bg.png) no-repeat right bottom;
	margin-left:    25px;
}

div#service_info {
	background:    transparent none repeat-x center center;
	position:    relative;
	width:    650px;
	float:    left;
}

#service_info p {
	font-family:    Georgia, "Times New Roman", Times, serif;
	word-spacing:    .2em;
	padding:    1em 2em;
	line-height:    150%;
	background-color:    transparent;
	float:    left;
}

#service_info h4 {
	text-align:    center;
	text-transform:    uppercase;
	font:    200%/120% Georgia, "Times New Roman", Times, serif;
	padding-top:    1em;
	padding-bottom:    .5em;
	letter-spacing:    .06em;
}

#services h1 {
	display:    block;
	border-bottom:    .1em solid #d3d2d3;
	float:    left;
	color:    #515151;
	font:    2em Georgia, "Times New Roman", Times, serif;
	padding:    .5em 2em .5em .5em;
	width:    900px;
	background:    url(images/backgrounds/h1_bg.png) repeat-x center top;
}

#services ol {
	float:    left;
	display:    block;
	position:    relative;
	list-style-type:    none;
	padding:    1em;
	width:    30%;
	border-right:    .1em solid #d3d2d3;
	background:    url(images/backgrounds/ol_bg.png) repeat-y left top;
	clear:    both;
}

#services ol li {
	padding-top:    1em;
	padding-bottom:    1em;
	border-bottom:    .1em solid #d3d2d3;
	color:    #817b7b;
	font:    bold 1em Georgia, "Times New Roman", Times, serif;
}

#services #last ol li {
	border:    none;
	color:    #f00;
}

#serivces li {
	padding-top:    1em;
	padding-bottom:    1em;
}

/*  ************* Top Footer Layout  ************* */

#container #top_footer {
	text-align:    center;
	border-top-style:    none;
	border:    .1em solid #d3d2d3;
	background:    white url(images/backgrounds/top_footer.png) repeat-x left bottom;
	display:    block;
	padding:    0px;
	margin-top:    50px;
	height:    255px;
	width: 80%;
}

#container div#top_footer #sitemap {
	clear:    left;
	float:    left;
	width:    8em;
	padding:    1em;
	line-height:    2em;
	position:    relative;
	height:    215px;
}

#container div#top_footer #sitemap ol li {
	list-style-position:    inside;
	list-style-type:    none;
	text-align:    left;
	border-bottom:    1px solid #c8c8c8;
	width:    8em;
	font-family:    Georgia, "Times New Roman", Times, serif;
	list-style-image:    none;
	opacity:    1;
	line-height:    40px;
}

a {
	text-decoration:    none;
	font-family:    Georgia, "Times New Roman", Times, serif;
	color:    #525252;
}

#container div#top_footer #contact_info h3 {
	margin-left:    140px;
}

#container div#top_footer #sitemap h3 {
	margin-left:    40px;
}

#container div#top_footer #contact_info {
	text-align:    left;
	float:    left;
	margin:    0px;
	padding:    0px;
	width:    38em;
}

div#contact_info a p {
	color:    #525252;
	font-family:    Georgia, "Times New Roman", Times, serif;
	float:    left;
	padding:    0px;
	margin:    0px;
	text-align:    left;
	text-transform:    none;
	height:    20px;
	
}

#phone, #contact_info a {
	text-decoration:    none;
	color:    #525252;
	height:    20px;
	text-align: left;
	

}

#phone {
	background-image: none;
	height:    20px;
	padding: 0px;
	margin: 0px;
	
}

div#a {
	text-align:    left;
	clear:    left;
	display:    block;
	float:    left;
	padding-right:    0;
	padding-left:    1em;
	border-right:    .1em solid #d3d2d3;
	margin-top:    1em;
	height:    1em;
}

div#wc {
	text-align:    left;
	float:    left;
	position:    relative;
	text-align:    left;
	padding-right:    1em;
	margin-top:    1em;
	height:    1em;
}

p#maps {
	background:    none;
	line-height:    normal;
}


h5 {
	font-family:    Georgia, "Times New Roman", Times, serif;
	line-height:    1.6em;
	text-align:    center;
	width:    110%;
	float:    right;
	position:    relative;
}

#sitemap ol {
	margin-top:    1em;
}

#contact_locations p a {
	font-family:    Georgia, "Times New Roman", Times, serif;
	color:    black;
	margin:    0px;
	padding:    0px;
	width:    45%;
	float:    right;
	clear:    right;
	position:    relative;
	text-align:    left;
}

#contact_locations h4 {
	color:    black;
	text-align:    left;
	padding:    0;
	width:    45%;
	float:    right;
	margin:    0 0 .7em;
	font-family:    Georgia, "Times New Roman", Times, serif;
	font-weight:    bold;
}

#container div#top_footer #email_sub {
	width:    9em;
	z-index:    4;
	clear:    right;
	display:    block;
	position:    relative;
	float:    left;
	padding:    1em;
	height:    215px;
}

img#background {
	display:    none;
}

#email_sub form input {
	float:    right;
	width:    180px;
	z-index:    0;
	background-color:    white;
	font-family:    Georgia, "Times New Roman", Times, serif;
	color:    gray;
	margin:    0px;
}

input.mysubmit {
	position:    relative;
	padding:    0;
	margin:    0;
	float:    right;
	margin:    0px;
}

#email_sub form input.submit {
	color:    gray;
	width:    40%;
	position:    relative;
	float:    right;
	font-size:    15px;
	margin:    0px;
}

#email_sub form {
	float:    right;
	left:    4em;
	position:    relative;
	margin:    0px;
}

/*  ************* Footer Layout  ************* */

#footer {
	clear:    both;
	font-size:    11px;
	vertical-align:    top;
	color:    white;
	text-align:    center;
	position:    relative;
	background:    transparent url(images/backgrounds/bg_bottom.png) repeat-x center top;
	margin-right:    auto;
	margin-left:    auto;
	margin-bottom:    auto;
	margin:    0;
	padding:    20px 0 0 0;
	float:    left;
}

p#top {
	background:    url(images/backgrounds/footer_line.png) no-repeat center bottom;
	margin:    0px;
	padding:    0px;
}

#footer p {
	position:    relative;
	color:    #f8f4ea;
	margin:    0px;
	padding-bottom:    30px;
	padding-top:    20px;
}

#footer p a {
	color:    white;
}

#contact_info p a {
	margin: 0px;
	padding: 0px;
	position: relative;
	top: 0px;
	bottom: 0px;
	border: 0px;
}