body {
	background:    url(images/backgrounds/bg_home.png) repeat-x;
}

/*  ************* About_Us Layout  ************* */

#container #about_us {
	float:    left;
	position:    relative;
	z-index:    -2;
	height:    210px;
	background:    none;
	margin:    0px;
	padding:    0px;
}

#container #about_us h2 {
	color:    white;
	text-align:    right;
	text-transform:    capitalize;
	float:    right;
	display:    block;
	font-size:    3em;
	margin-right:    0;
	text-shadow:    #000 .2em .2em .2em;
	clear:    right;
	margin-top:    .2em;
	padding-right:    1%;
}

#container #about_us h4 {
	color:    white;
	text-align:    right;
	text-transform:    capitalize;
	letter-spacing:    .3em;
	clear:    right;
	float:    right;
	display:    block;
	font-size:    2em;
	text-shadow:    #000 .2em .2em .2em;
	padding-right:    0;
}

#container #about_us p {
	color:    white;
	display:    block;
	float:    right;
	clear:    right;
	width:    30%;
	font-size:    .8em;
	padding-right:    4em;
	padding-top:    16em;
}

img#guys_shadow {
	z-index:    2;
	clear:    left;
	float:    left;
	display:    block;
	background:    transparent center;
	height:    280px;
	position:    relative;
	padding:    0;
	margin:    0;
	height:    280px;
	width:    453;
	top:    -50px;
}

img#computernerds {
	overflow:    auto;
	z-index:    2;
	visibility:    visible;
	display:    block;
	position:    relative;
	background:    transparent center;
	clear:    none;
	width:    450px;
	top:    4em;
	float:    right;
	left:    2em;
}

img#who_we_are {
	float:    left;
	width:    8em;
	border-style:    none;
	z-index:    2;
	top:    500px;
	left:    60px;
}

img#what_we_do {
	width:    8em;
	border-style:    none;
	z-index:    2;
	left:    500px;
	float:    left;
	top:    500px;
}

img#who_we_are {
	display:    none;
}

img#what_we_do {
	display:    none;
}

/*  ************* Content Layout  ************* */

#container #content {
	float:    left;
	height:    400px;
	text-align:    center;
	z-index:    2;
	background:    transparent no-repeat;
	padding-bottom:    2em;
	background:    none;
	margin:    0px;
	padding:    0px;
}

#container div#content #discription {
	clear:    left;
	float:    left;
	z-index:    0;
	padding:    1em;
	background:    white;
	-moz-border-radius:    20px;
	-webkit-border-radius:    20px;
	-moz-box-shadow:    2px 3px 8px #d3d2d3;
	-webkit-box-shadow:    2px 3px 8px #d3d2d3;
}

#container div#content #discription p {
	color:    #282828;
	padding:    1;
	text-align:    left;
	white-space:    normal;
	z-index:    1;
	font-family:    Georgia, "Times New Roman", Times, serif;
	margin:    1em;
	word-spacing:    .2em;
}

#container div#content #video_area {
	float:    left;
	clear:    none;
	width:    32em;
	z-index:    0;
	padding-left:    1.5em;
	margin:    1em auto auto;
}

img#video {
	width:    510px;
}

/*  ************* Campaign Layout  ************* */

#container #campaign {
	float:    left;
	height:    250px;
	text-align:    center;
	background:    transparent none repeat-y;
	padding-bottom:    1em;
	border-top:    1px solid #d3d2d3;
	padding-top:    1em;
}

#container div#campaign  #tagus blockquote {
	color:    #4a4a4a;
	font-style:    italic;
	text-align:    center;
	margin:    0;
	padding-top:    0;
	padding-bottom:    0;
	padding-left:    1em;
	width:    420px;
	font-family:    Georgia, "Times New Roman", Times, serif;
}

#container div#campaign #video_promo {
	clear:    left;
	float:    left;
	width:    500px;
	padding-right:    1em;
}

#container div#campaign #tagus {
	float:    right;
	width:    40%;
	border-left:    1% solid #8f2829;
	margin:    auto;
	position:    relative;
	top:    4em;
	right:    2em;
}

#container div#top_footer #backgrounds {
	float:    right;
	width:    24em;
	clear:    none;
	background-image:    none;
	padding-top:    7em;
	z-index:    0;
	position:    absolute;
	display:    block;
	left:    45em;
}

#video_promo img.promos {
	padding-top:    .3em;
	padding-bottom:    .3em;
	width:    90%;
	float:    left;
	padding-left:    .5em;
}

#backgrounds img#background {
	position:    absolute;
	z-index:    -1;
	float:    left;
	width:    150%;
	margin-left:    -1em;
	margin-top:    3.5em;
}

div#campaign .bqstart {
	float:    left;
	margin-bottom:    -50em;
	color:    #FF0000;
	opacity:    0.5;
	z-index:    0;
	width:    1em;
	padding-top:    0px;
	margin-left:    0px;
	margin-top:    0px;
	font-size:    40px;
}

div#campaign .bqend {
	float:    right;
	font-size:    40px;
	color:    #FF0000;
	opacity:    0.49;
	z-index:    0;
	padding-right:    .2em;
	height:    40px;
}

/*  ************* Top Footer Layout  ************* */

#container #top_footer {
	width:    97%;
	height:    290px;
	border-top-style:    none;
	text-align:    center;
	border:    none;
	border-top:    1px solid #d3d2d3;
	background-position:    left bottom;
	float:    left;
	display:    block;
	margin-top:    1em;
	margin-bottom:    1em;
	padding:    1em;
	background:    none;
	-moz-border-radius:    none;
	-webkit-border-radius:    none;
	-moz-box-shadow:    none;
	-webkit-box-shadow:    none;
}

#container div#top_footer #email_sub {
	float:    left;
	width:    10.3em;
	z-index:    4;
	padding:    1em;
	clear:    right;
	position:    relative;
	display:    block;
	right:    2em;
}