/*  ************* Header Layout  *************

#header
  clear: both
  font-size: 1px
  color: #fefdfb
  height: 129px
  a
    text-decoration: none
  img#header_logo
    height: 90%
    position: relative
    margin-top: 1%
  img#whitehead
    float: right
    clear: left
    position: relative
    height: 129px
  h1
    width: 1px
    height: 1px
    color: fuchsia
    top: -9999px
    position: absolute

img#quote
  float: right
  clear: left
  position: relative
  right: -20px
  bottom: -53px

