$content-margin: 4em
$font: Georgia, "Times New Roman", Times, serif
$default-border: 1px solid #d3d2d3
$default-box-shadow-color: #333
$default-box-shadow-h-offset: 0px
$default-box-shadow-v-offset: 0px
$default-box-shadow-blur: 8px
$default-box-shadow:  2px 3px 8px
$default-border-radius: 10px
$default-text-shadow-color: rgba(black, .6)
$default-text-shadow-blur: 3px
$default-text-shadow-v-offset: 1px
$default-border-radius: 10px
$default-border: 1px solid #d3d2d3
$border-color: #d3d2d3
$default-border: 1px solid #d3d2d3
$footer-h-color: #515151
$sitemap-width: 8em
$topfooter-width: 1000px
$navbar-text-color: #987c5c
$fade-gradient: color-stops(#151716, #ffffff)

@import "compass/css3", "compass/utilities"
@import "compass/reset"
@import "fancy-buttons"
