/* line 2, ../sass/contact_screen.sass */
#navbar #contact a {
  width: 120px;
  background-position: -360px center;
}
/* line 5, ../sass/contact_screen.sass */
#navbar #contact a:hover {
  width: 120px;
  background-position: -360px center;
}
