/*------------------------------------------------------------------
 *[Master Stylesheet] 
 *
 *Author:			Max Nanis <MaxN [at] bennington [dot] edu>
 *Version:	    1.0
 *Last change:	1/5/10
 *Primary use:	Those Apple Guys 
 *
 *------------------------------------------------------------------- */
/* line 16, ../sass/home_screen.sass */
body#home {
  background: url(../images/backgrounds/bg_home.png) repeat-x;
}

/*  ************* HOME: About_Us Layout  ************* */
/* line 21, ../sass/home_screen.sass */
#about_us {
  clear: both;
  padding-bottom: 10%;
  position: static;
  background: transparent url(../images/about/bg.png) no-repeat;
  z-index: -2;
  width: 100%;
  height: 10.95em;
}
/* line 29, ../sass/home_screen.sass */
#about_us #guys_shadow {
  float: left;
  width: 28.5em;
}
/* line 32, ../sass/home_screen.sass */
#about_us #guys_shadow img {
  display: block;
  position: absolute;
  width: 28.5em;
  padding-top: 0.3em;
}
/* line 37, ../sass/home_screen.sass */
#about_us #computernerds {
  float: right;
  text-align: center;
}
/* line 40, ../sass/home_screen.sass */
#about_us #computernerds img#computernerds {
  display: block;
  position: relative;
  width: 32em;
  top: 5em;
  left: 2em;
}
/* line 46, ../sass/home_screen.sass */
#about_us #computernerds img#who_we_are {
  position: relative;
  width: 12em;
  margin: 1em auto;
  z-index: 2;
  top: 10em;
  left: 25em;
}

/*  ************* Content Layout  ************* */
/* line 56, ../sass/home_screen.sass */
#description {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #d3d2d3 2px 3px 8px;
  -webkit-box-shadow: #d3d2d3 2px 3px 8px;
  -o-box-shadow: #d3d2d3 2px 3px 8px;
  box-shadow: #d3d2d3 2px 3px 8px;
  clear: left;
  float: left;
  width: 27em;
  padding: 1em;
  background: white no-repeat;
}
/* line 64, ../sass/home_screen.sass */
#description h2 {
  color: #525252;
  text-transform: uppercase;
  font: small-caps 260% Georgia, "Times New Roman", Times, serif;
}
/* line 68, ../sass/home_screen.sass */
#description p {
  color: #282828;
  text-align: left;
  white-space: normal;
  font-family: Georgia, "Times New Roman", Times, serif;
  word-spacing: 0.2em;
  margin: 1em;
}

/* line 77, ../sass/home_screen.sass */
#container #content {
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 2;
  padding-top: 2.8em;
  padding-right: 0.5em;
  background: transparent no-repeat;
  padding-bottom: 2em;
}

/* line 88, ../sass/home_screen.sass */
#video_area {
  float: left;
  clear: none;
  width: 32em;
  z-index: 0;
  background: none no-repeat 5em 1em;
  padding-left: 1.5em;
  margin: 3em auto auto;
}

/* line 97, ../sass/home_screen.sass */
#video_area object {
  padding: 1.5em;
}

/* line 100, ../sass/home_screen.sass */
img#video {
  width: 100%;
}

/*  ************* Campaign Layout  ************* */
/* line 106, ../sass/home_screen.sass */
#container #campaign {
  float: left;
  width: 100%;
  height: 100%;
  text-align: center;
  background: transparent none repeat-y;
  border-top: 1px solid #d3d2d3;
  padding-top: 2em;
  margin-top: 2em;
}
/* line 117, ../sass/home_screen.sass */
#container div#campaign#tagus blockquote {
  color: #4a4a4a;
  font-style: italic;
  text-align: center;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 127, ../sass/home_screen.sass */
#container div#campaign #video_promo {
  clear: left;
  float: left;
  width: 50%;
  padding-right: 1em;
}
/* line 132, ../sass/home_screen.sass */
#container div#campaign #tagus {
  float: right;
  width: 40%;
  border-left: 1% solid #8f2829;
  margin: auto;
  position: relative;
  top: 4em;
  right: 2em;
}
/* line 140, ../sass/home_screen.sass */
#container div#top_footer #backgrounds {
  float: right;
  width: 24em;
  clear: none;
  background-image: none;
  padding-top: 7em;
  z-index: 0;
  position: absolute;
  display: block;
  left: 45em;
}

/* line 151, ../sass/home_screen.sass */
#video_promo img.promos {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  width: 90%;
  float: left;
  padding-left: 0.5em;
}

/* line 158, ../sass/home_screen.sass */
#backgrounds img#background {
  position: absolute;
  z-index: -1;
  float: left;
  width: 150%;
  margin-left: -1em;
  margin-top: 3.5em;
}
