/*
Syntax error: File to import not found or unreadable: compass/css3.
              Load paths:
                /Applications/MAMP/htdocs/those_apple_guys_dev
                /Applications/MAMP/htdocs/those_apple_guys_dev/sass
        on line 23 of /Applications/MAMP/htdocs/those_apple_guys_dev/sass/partials/_vars_and_mixins.sass
        from line 2 of /Applications/MAMP/htdocs/those_apple_guys_dev/sass/home_screen.sass

18:     width: 100%
19:     display: block
20:     height: 10px
21:     color: black
22:     bottom: -10px
23:     z-index: 5
24: #about_us
25:   width: 1000px
26:   margin: .5em auto .2em
27:   position: static
28:   z-index: -2

Backtrace:
/Applications/MAMP/htdocs/those_apple_guys_dev/sass/partials/_vars_and_mixins.sass:23
/Applications/MAMP/htdocs/those_apple_guys_dev/sass/home_screen.sass:2
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/import_node.rb:64:in `rescue in import'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/import_node.rb:42:in `import'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/import_node.rb:25:in `imported_file'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:149:in `rescue in visit_import'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:154:in `visit_import'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:146:in `block in visit_import'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:146:in `map'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:146:in `visit_import'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `map'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/base.rb:37:in `visit'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:18:in `visit'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/tree/root_node.rb:20:in `render'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/engine.rb:299:in `_render'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/engine.rb:246:in `render'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:339:in `update_stylesheet'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:202:in `block in update_stylesheets'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `each'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:200:in `update_stylesheets'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/plugin/compiler.rb:234:in `watch'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/plugin.rb:107:in `method_missing'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/exec.rb:431:in `watch_or_update'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/exec.rb:302:in `process_result'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/exec.rb:41:in `parse'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/lib/sass/exec.rb:21:in `parse!'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/sass-3.1.15/bin/sass:8:in `<top (required)>'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/bin/sass:19:in `load'
/Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass/css3.\A               Load paths:\A                 /Applications/MAMP/htdocs/those_apple_guys_dev\A                 /Applications/MAMP/htdocs/those_apple_guys_dev/sass\A         on line 23 of /Applications/MAMP/htdocs/those_apple_guys_dev/sass/partials/_vars_and_mixins.sass\A         from line 2 of /Applications/MAMP/htdocs/those_apple_guys_dev/sass/home_screen.sass\A \A 18:     width: 100%\A 19:     display: block\A 20:     height: 10px\A 21:     color: black\A 22:     bottom: -10px\A 23:     z-index: 5\A 24: #about_us\A 25:   width: 1000px\A 26:   margin: .5em auto .2em\A 27:   position: static\A 28:   z-index: -2"; }
