/*------------------------------------------------------------------
 *[Master Stylesheet] 
 *
 *Author:			Max Nanis <MaxN [at] bennington [dot] edu>
 *Version:	    1.1
 *Last change:	1/20/10
 *Primary use:	Those Apple Guys 
 *
 *------------------------------------------------------------------- */
/* line 17, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class, .video_bio_button {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1331402483') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner, .video_bio_button::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus, .video_bio_button:focus {
  outline: none;
}

/*  ************* Top Footer Layout  ************* */
/* line 3, ../sass/partials/_footer.sass */
#top_footer {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 8px #333333;
  -webkit-box-shadow: 0px 0px 8px #333333;
  -o-box-shadow: 0px 0px 8px #333333;
  box-shadow: 0px 0px 8px #333333;
  width: 934px;
  height: 100%;
  text-align: center;
  border: 0.1em solid #d3d2d3;
  background: white url(../images/backgrounds/top_footer.png) repeat-x left bottom;
  float: left;
  display: block;
  margin-bottom: 2em;
  padding: 1em 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 16, ../sass/partials/_footer.sass */
#top_footer h3, #top_footer h5 {
  color: #515151;
}
/* line 18, ../sass/partials/_footer.sass */
#top_footer h3 {
  font-size: 2em;
}
/* line 20, ../sass/partials/_footer.sass */
#top_footer h5 {
  line-height: 1.2em;
  text-align: center;
  position: relative;
  font-weight: bold;
  color: #515151;
  font-size: 15px;
}
/* line 27, ../sass/partials/_footer.sass */
#top_footer a {
  color: #525252;
}

/* line 30, ../sass/partials/_footer.sass */
#sitemap {
  clear: left;
  float: left;
  width: 15.5%;
  padding: 1em 1em 0;
  line-height: 2.3em;
  height: 100%;
  position: relative;
}
/* line 38, ../sass/partials/_footer.sass */
#sitemap ol {
  margin: 0.2em 0 0 1em;
}
/* line 40, ../sass/partials/_footer.sass */
#sitemap ol li {
  list-style-position: inside;
  list-style-type: none;
  text-align: left;
  border-bottom: 1px solid #d3d2d3;
  width: 6em;
  list-style-image: url(../images/buttons/block_bullet.png);
}
/* line 47, ../sass/partials/_footer.sass */
#sitemap ol li:last-child {
  border-bottom: none;
}

/* line 52, ../sass/partials/_footer.sass */
#contact_info {
  float: left;
  width: 54%;
  padding: 1em 0;
  margin-left: 25px;
  position: relative;
  height: 100%;
}
/* line 59, ../sass/partials/_footer.sass */
#contact_info a {
  text-decoration: none;
  color: #525252;
}
/* line 62, ../sass/partials/_footer.sass */
#contact_info p {
  position: relative;
  width: 95%;
  height: 100%;
  color: #525252;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 0.9em;
  line-height: 2em;
  text-align: right;
  margin-top: 0.5em;
  padding: 0;
}
/* line 73, ../sass/partials/_footer.sass */
#contact_info p.maps {
  background: url(../images/buttons/maps.png) no-repeat;
  line-height: 1.8em;
}
/* line 76, ../sass/partials/_footer.sass */
#contact_info p.phone {
  background: url(../images/buttons/phone.png) no-repeat 0 50%;
  margin-top: 0.2em;
}

/* line 80, ../sass/partials/_footer.sass */
.contact_locations {
  width: 200px;
  margin-top: 1em;
  height: 100%;
  padding: 0 1em;
  position: relative;
  display: inline-block;
  vertical-align: top;
}

/* line 89, ../sass/partials/_footer.sass */
#wc {
  border-left: 0.1em solid #d3d2d3;
  width: 220px;
}

/* line 93, ../sass/partials/_footer.sass */
#email_sub {
  width: 20%;
  clear: none;
  display: block;
  position: relative;
  float: right;
  padding: 1em;
}
/* line 100, ../sass/partials/_footer.sass */
#email_sub h3 {
  padding-bottom: 0.5em;
}
/* line 102, ../sass/partials/_footer.sass */
#email_sub form input.submit {
  color: gray;
  width: 40%;
  position: absolute;
  font-size: 15px;
  margin-top: 10px;
  right: 0.8em;
}
/* line 109, ../sass/partials/_footer.sass */
#email_sub form input {
  width: 100%;
  height: 1.5em;
  background-color: white;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: gray;
}

/*  ************* Footer Layout  ************* */
/* line 119, ../sass/partials/_footer.sass */
#footer {
  clear: both;
  width: 100%;
  font-size: 11px;
  vertical-align: top;
  color: white;
  text-align: center;
  position: relative;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #690606), color-stop(100%, #5e1213));
  background-image: -webkit-linear-gradient(bottom, #690606, #5e1213);
  background-image: -moz-linear-gradient(bottom, #690606, #5e1213);
  background-image: -o-linear-gradient(bottom, #690606, #5e1213);
  background-image: -ms-linear-gradient(bottom, #690606, #5e1213);
  background-image: linear-gradient(bottom, #690606, #5e1213);
  border-top: 1px solid #151716;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}
/* line 132, ../sass/partials/_footer.sass */
#footer:before {
  -moz-box-shadow: 0px -5px 10px #333333;
  -webkit-box-shadow: 0px -5px 10px #333333;
  -o-box-shadow: 0px -5px 10px #333333;
  box-shadow: 0px -5px 10px #333333;
  content: "";
  position: relative;
  height: 10px;
  width: 100%;
  top: -10;
  display: block;
}
/* line 141, ../sass/partials/_footer.sass */
#footer p {
  padding: 2em;
  position: relative;
  color: #f8f4ea;
}
/* line 145, ../sass/partials/_footer.sass */
#footer p a {
  color: white;
}

/* line 148, ../sass/partials/_footer.sass */
#top {
  width: 900px;
  margin: 0 auto;
  border-bottom: 1px solid #151716;
}
/* line 152, ../sass/partials/_footer.sass */
#top:after {
  border-bottom: 1px solid white;
  display: block;
  content: "";
}

/*  ************* NavBar Layout  ************* */
/* line 4, ../sass/partials/_navbar.sass */
#navbar_wrapper {
  width: 100%;
  position: relative;
  background-color: #f8f4ea;
  -moz-box-shadow: 0px 0px 8px #333333;
  -webkit-box-shadow: 0px 0px 8px #333333;
  -o-box-shadow: 0px 0px 8px #333333;
  box-shadow: 0px 0px 8px #333333;
}

/* line 10, ../sass/partials/_navbar.sass */
#navbar {
  z-index: 0;
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
  height: 48px;
  clear: both;
  position: relative;
  text-align: left;
}
/* line 19, ../sass/partials/_navbar.sass */
#navbar h2, #navbar ul, #navbar a {
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 22, ../sass/partials/_navbar.sass */
#navbar h2, #navbar a {
  color: #987c5c;
}
/* line 24, ../sass/partials/_navbar.sass */
#navbar h2 {
  font-size: 120%;
  position: absolute;
  right: 2.5em;
  top: 0.7em;
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 1px;
}
/* line 30, ../sass/partials/_navbar.sass */
#navbar ul {
  list-style: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
/* line 38, ../sass/partials/_navbar.sass */
#navbar .navbar {
  list-style: none;
  padding: 0;
  max-width: 120px;
  height: 100%;
  display: inline-block;
  border-left: 1px solid #987c5c;
}
/* line 45, ../sass/partials/_navbar.sass */
#navbar .navbar a {
  text-shadow: rgba(0, 0, 0, 0.6) 0px 0px 1px;
  display: block;
  font-size: 1.1em;
  padding: 0.8em 1em;
}
/* line 50, ../sass/partials/_navbar.sass */
#navbar .navbar:nth-child(4) {
  border-right: 1px solid #987c5c;
}
/* line 52, ../sass/partials/_navbar.sass */
#navbar .navbar:hover {
  background-color: #fdfcf3;
}
/* line 54, ../sass/partials/_navbar.sass */
#navbar .navbar:hover a {
  color: #4e4e4c;
}
/* line 56, ../sass/partials/_navbar.sass */
#navbar li.active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5c1112), color-stop(100%, #f8f4ea));
  background-image: -webkit-linear-gradient(top, #5c1112, #f8f4ea);
  background-image: -moz-linear-gradient(top, #5c1112, #f8f4ea);
  background-image: -o-linear-gradient(top, #5c1112, #f8f4ea);
  background-image: -ms-linear-gradient(top, #5c1112, #f8f4ea);
  background-image: linear-gradient(top, #5c1112, #f8f4ea);
}
/* line 58, ../sass/partials/_navbar.sass */
#navbar li.active a {
  color: white;
}
/* line 60, ../sass/partials/_navbar.sass */
#navbar li.active:hover a {
  color: white;
}

/*  ************* Header Layout  ************* */
/* line 3, ../sass/partials/_header.sass */
#header_wrap {
  width: 100%;
  position: relative;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #690606), color-stop(100%, #5e1213));
  background-image: -webkit-linear-gradient(bottom, #690606, #5e1213);
  background-image: -moz-linear-gradient(bottom, #690606, #5e1213);
  background-image: -o-linear-gradient(bottom, #690606, #5e1213);
  background-image: -ms-linear-gradient(bottom, #690606, #5e1213);
  background-image: linear-gradient(bottom, #690606, #5e1213);
}
/* line 7, ../sass/partials/_header.sass */
#header_wrap:after {
  -moz-box-shadow: 0px -5px 10px #5e1213;
  -webkit-box-shadow: 0px -5px 10px #5e1213;
  -o-box-shadow: 0px -5px 10px #5e1213;
  box-shadow: 0px -5px 10px #5e1213;
  height: 10px;
  position: relative;
  width: 100%;
  content: "";
  bottom: -10px;
  display: block;
}

/* line 16, ../sass/partials/_header.sass */
#header {
  clear: both;
  width: 1000px;
  font-size: 1px;
  color: #fefdfb;
  height: 129px;
  margin: 0 auto;
}
/* line 23, ../sass/partials/_header.sass */
#header a {
  text-decoration: none;
}
/* line 25, ../sass/partials/_header.sass */
#header img#header_logo {
  height: 90%;
  position: relative;
  margin-top: 1%;
}
/* line 29, ../sass/partials/_header.sass */
#header img#whitehead {
  float: right;
  clear: left;
  position: relative;
  height: 129px;
}
/* line 34, ../sass/partials/_header.sass */
#header h1 {
  width: 1px;
  height: 1px;
  color: fuchsia;
  top: -9999px;
  position: absolute;
}

/* line 41, ../sass/partials/_header.sass */
img#quote {
  float: right;
  clear: left;
  position: relative;
  right: -20px;
  bottom: -53px;
}

/* line 17, ../sass/screen.sass */
body {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8f4ea), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f8f4ea, #ffffff);
  background-image: -moz-linear-gradient(top, #f8f4ea, #ffffff);
  background-image: -o-linear-gradient(top, #f8f4ea, #ffffff);
  background-image: -ms-linear-gradient(top, #f8f4ea, #ffffff);
  background-image: linear-gradient(top, #f8f4ea, #ffffff);
  height: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 21, ../sass/screen.sass */
a {
  text-decoration: none;
}

/* line 24, ../sass/screen.sass */
#service_info img.services_pics {
  position: relative;
  float: right;
  width: 35%;
  padding: 1em 0 1em 1em;
  border-left: 0.1em solid gray;
  margin-left: 1em;
}

/* line 32, ../sass/screen.sass */
#container {
  width: 1000px;
  padding: 0;
  min-height: 100%;
  height: 100%;
  text-align: left;
  margin: 0 auto;
}

/* line 40, ../sass/screen.sass */
img#guys {
  position: absolute;
  margin-top: 24%;
  width: 50%;
  z-index: 1;
}

/*  ************* Content Layout  ************* */
/* line 48, ../sass/screen.sass */
#contact_locations {
  text-align: center;
  background: transparent no-repeat;
  margin: 3em auto 2em auto;
}
/* line 52, ../sass/screen.sass */
#contact_locations h2 {
  width: 100%;
  text-align: center;
  color: #515151;
  font: 200% Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0.5em;
}

/* line 59, ../sass/screen.sass */
.contact_bubbles {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 8px #333333;
  -webkit-box-shadow: 0px 0px 8px #333333;
  -o-box-shadow: 0px 0px 8px #333333;
  box-shadow: 0px 0px 8px #333333;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #fefefe), color-stop(100%, #fcfbf8));
  background-image: -webkit-linear-gradient(left, #fefefe, #fcfbf8);
  background-image: -moz-linear-gradient(left, #fefefe, #fcfbf8);
  background-image: -o-linear-gradient(left, #fefefe, #fcfbf8);
  background-image: -ms-linear-gradient(left, #fefefe, #fcfbf8);
  background-image: linear-gradient(left, #fefefe, #fcfbf8);
  width: 46%;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  padding: 1em;
}
/* line 67, ../sass/screen.sass */
.contact_bubbles .big_phone {
  float: left;
  width: 40%;
}
/* line 71, ../sass/screen.sass */
.contact_bubbles .big_phone a img {
  width: 230px;
}
/* line 73, ../sass/screen.sass */
.contact_bubbles .contact_deets {
  float: right;
}
/* line 75, ../sass/screen.sass */
.contact_bubbles .contact_deets a {
  text-decoration: none;
  color: #525252;
}
/* line 78, ../sass/screen.sass */
.contact_bubbles .contact_deets span.pc {
  color: #525252;
  cursor: pointer;
}
/* line 81, ../sass/screen.sass */
.contact_bubbles .contact_deets img {
  width: 150px;
  display: block;
  position: relative;
  margin: 1em auto;
}
/* line 86, ../sass/screen.sass */
.contact_bubbles .contact_deets h4 {
  text-align: left;
  font-weight: bold;
}
/* line 89, ../sass/screen.sass */
.contact_bubbles .contact_deets p {
  margin-top: 10px;
}

/* line 91, ../sass/screen.sass */
#ambler {
  float: left;
}

/* line 93, ../sass/screen.sass */
#westchester {
  float: right;
}

/*  ************* Bio Layout  ************* */
/* line 101, ../sass/screen.sass */
#bio_group {
  width: 100%;
  height: 100%;
  margin-top: 4em;
  margin-bottom: 4em;
}

/* line 107, ../sass/screen.sass */
.bio {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0px 0px 8px #333333;
  -webkit-box-shadow: 0px 0px 8px #333333;
  -o-box-shadow: 0px 0px 8px #333333;
  box-shadow: 0px 0px 8px #333333;
  text-align: center;
  display: block;
  padding: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  width: 46%;
}

/* line 116, ../sass/screen.sass */
#chip {
  clear: left;
  float: left;
  background: white url(../images/about/apple_chip.png) no-repeat 96% 17.8em;
}

/* line 120, ../sass/screen.sass */
#jay {
  clear: right;
  float: right;
  background: white url(../images/about/apple_jay.png) no-repeat 96% 17.8em;
}

/* line 125, ../sass/screen.sass */
.info {
  text-align: center;
  float: right;
  width: 46%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 130, ../sass/screen.sass */
.info h2 {
  color: #525252;
  z-index: 1;
  text-transform: capitalize;
  font: small-caps 260% Georgia, "Times New Roman", Times, serif;
}
/* line 135, ../sass/screen.sass */
.info p {
  color: #282828;
  text-align: center;
  white-space: normal;
  z-index: 1;
  word-spacing: 0.2em;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 145, ../sass/screen.sass */
blockquote.info {
  margin: 2em auto;
  font-style: italic;
  width: 100%;
}
/* line 149, ../sass/screen.sass */
blockquote.info:before {
  float: left;
  font-family: Georgia;
  margin-bottom: -10em;
  font-size: 300%;
  content: '"';
  color: #d3d2d3;
  opacity: 0.5;
  margin-left: -0.9em;
  margin-top: -0.5em;
  position: relative;
  width: 50%;
}
/* line 161, ../sass/screen.sass */
blockquote.info:after {
  float: right;
  font-family: Georgia;
  content: '"';
  font-size: 300%;
  color: #d3d2d3;
  opacity: 0.49;
  padding-right: 0.2em;
  height: 0.4em;
}
/* line 172, ../sass/screen.sass */
blockquote.info img#chip_pic, blockquote.info img#jay_pic {
  width: 225px;
  position: relative;
}

/* line 176, ../sass/screen.sass */
.video_bio_button {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
  font-size: 20px;
  line-height: 1.2em;
  padding: 0.3em 1em;
  border-width: 1px;
  background-color: #1c1c1c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #707070), color-stop(10%, #424242), color-stop(50%, #141414), color-stop(50%, #0d0d0d), color-stop(100%, #262626));
  background-image: -webkit-linear-gradient(#707070, #424242 10%, #141414 50%, #0d0d0d 50%, #262626);
  background-image: -moz-linear-gradient(#707070, #424242 10%, #141414 50%, #0d0d0d 50%, #262626);
  background-image: -o-linear-gradient(#707070, #424242 10%, #141414 50%, #0d0d0d 50%, #262626);
  background-image: -ms-linear-gradient(#707070, #424242 10%, #141414 50%, #0d0d0d 50%, #262626);
  background-image: linear-gradient(#707070, #424242 10%, #141414 50%, #0d0d0d 50%, #262626);
  border-color: black;
  text-shadow: black 0px 1px 1px;
  -moz-box-shadow: rgba(255, 255, 255, 0.11) 0 0 0.1em 1px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.11) 0 0 0.1em 1px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.11) 0 0 0.1em 1px inset;
  box-shadow: rgba(255, 255, 255, 0.11) 0 0 0.1em 1px inset;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding-box;
  -ms-background-clip: padding-box;
  -khtml-background-clip: padding-box;
  background-clip: padding-box;
  width: 120px;
  height: 45px;
  font-size: 15px;
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: absolute;
  bottom: 1.2em;
  right: 5em;
}
/* line 116, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.video_bio_button, .video_bio_button:visited {
  color: white;
}
/* line 31, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.video_bio_button:hover, .video_bio_button:focus {
  background-color: #141414;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #696969), color-stop(10%, #3b3b3b), color-stop(50%, #0d0d0d), color-stop(50%, #050505), color-stop(100%, #1f1f1f));
  background-image: -webkit-linear-gradient(#696969, #3b3b3b 10%, #0d0d0d 50%, #050505 50%, #1f1f1f);
  background-image: -moz-linear-gradient(#696969, #3b3b3b 10%, #0d0d0d 50%, #050505 50%, #1f1f1f);
  background-image: -o-linear-gradient(#696969, #3b3b3b 10%, #0d0d0d 50%, #050505 50%, #1f1f1f);
  background-image: -ms-linear-gradient(#696969, #3b3b3b 10%, #0d0d0d 50%, #050505 50%, #1f1f1f);
  background-image: linear-gradient(#696969, #3b3b3b 10%, #0d0d0d 50%, #050505 50%, #1f1f1f);
  border-color: black;
  text-shadow: black 0px 1px 1px;
}
/* line 116, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.video_bio_button:hover, .video_bio_button:hover:visited, .video_bio_button:focus, .video_bio_button:focus:visited {
  color: white;
}
/* line 36, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.video_bio_button:active {
  background-color: #0d0d0d;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0f0f0f), color-stop(30%, #141414), color-stop(50%, #0a0a0a), color-stop(50%, #030303), color-stop(100%, #242424));
  background-image: -webkit-linear-gradient(#0f0f0f, #141414 30%, #0a0a0a 50%, #030303 50%, #242424);
  background-image: -moz-linear-gradient(#0f0f0f, #141414 30%, #0a0a0a 50%, #030303 50%, #242424);
  background-image: -o-linear-gradient(#0f0f0f, #141414 30%, #0a0a0a 50%, #030303 50%, #242424);
  background-image: -ms-linear-gradient(#0f0f0f, #141414 30%, #0a0a0a 50%, #030303 50%, #242424);
  background-image: linear-gradient(#0f0f0f, #141414 30%, #0a0a0a 50%, #030303 50%, #242424);
  border-color: black;
  text-shadow: black 0px -1px -1px;
  -moz-box-shadow: black 0 0.08em 0.2em 1px inset;
  -webkit-box-shadow: black 0 0.08em 0.2em 1px inset;
  -o-box-shadow: black 0 0.08em 0.2em 1px inset;
  box-shadow: black 0 0.08em 0.2em 1px inset;
}
/* line 116, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.video_bio_button:active, .video_bio_button:active:visited {
  color: white;
}

/* line 187, ../sass/screen.sass */
.bio_pic {
  float: left;
}

/* line 190, ../sass/screen.sass */
img#apple_logo {
  width: 8%;
  float: left;
  position: absolute;
  top: 18.3em;
  left: 26.5em;
}

/* line 198, ../sass/screen.sass */
img#chip_pic, img#jay_pic {
  width: 225px;
  position: relative;
}

/* line 202, ../sass/screen.sass */
#bio h2 {
  color: #525252;
  z-index: 1;
  text-transform: capitalize;
  font: small-caps 260% Georgia, "Times New Roman", Times, serif;
}

/* line 208, ../sass/screen.sass */
#contact_locations h3 {
  color: #515151;
  text-transform: capitalize;
  font: small-caps 260% Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0.5em;
}

/* line 214, ../sass/screen.sass */
#tagus blockquote p {
  clear: none;
  position: relative;
  margin-top: 1.5em;
  color: gray;
}

/* line 220, ../sass/screen.sass */
#container div#top_footer #backgrounds {
  float: left;
  clear: right;
  padding-top: 3em;
  width: 9.9em;
}

/* line 226, ../sass/screen.sass */
#backgrounds img#background {
  width: 20em;
  position: relative;
  z-index: 0;
  float: left;
  padding-right: 3em;
  bottom: 2.5em;
  display: block;
  clear: left;
}
