/*------------------------------------------------------------------
 *[Master Stylesheet] 
 *
 *Author:			Max Nanis <MaxN [at] bennington [dot] edu>
 *Version:	    1.1
 *Last change:	1/20/10
 *Primary use:	Those Apple Guys 
 *
 *------------------------------------------------------------------- */
/* line 17, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 17, ../sass/screen.sass */
#service_info img.services_pics {
  position: relative;
  float: right;
  width: 35%;
  padding: 1em 0 1em 1em;
  border-left: 0.1em solid gray;
  margin-left: 1em;
}

/* line 25, ../sass/screen.sass */
body {
  height: 100%;
  background: #f8f4ea url(../images/backgrounds/bg.png) repeat-x;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/* line 30, ../sass/screen.sass */
#container {
  width: 1000px;
  padding: 0;
  min-height: 100%;
  height: 100%;
  text-align: left;
  margin: 0 auto;
}

/* line 38, ../sass/screen.sass */
html > body #container {
  height: auto;
  float: none;
}

/* line 42, ../sass/screen.sass */
img#guys {
  position: absolute;
  margin-top: 24%;
  width: 50%;
  z-index: 1;
}

/*  ************* Header Layout  ************* */
/* line 50, ../sass/screen.sass */
#container #header {
  clear: both;
  font-size: 1px;
  color: #fefdfb;
  height: 131px;
}
/* line 55, ../sass/screen.sass */
#container #header a {
  text-decoration: none;
}
/* line 57, ../sass/screen.sass */
#container #header img#header_logo {
  height: 90%;
  position: relative;
  margin-top: 1%;
}
/* line 61, ../sass/screen.sass */
#container #header img#whitehead {
  float: right;
  clear: left;
  position: relative;
  height: 129px;
}
/* line 66, ../sass/screen.sass */
#container #header h1 {
  width: 1px;
  height: 1px;
  color: fuchsia;
  top: -9999px;
  position: absolute;
}

/* line 73, ../sass/screen.sass */
img#quote {
  float: right;
  clear: left;
  position: relative;
  right: -20px;
  bottom: -53px;
}

/*  ************* NavBar Layout  ************* */
/* line 83, ../sass/screen.sass */
#container #navbar {
  background: #f8f4ea url(../images/buttons/menu_bg.png) repeat-x;
  z-index: 0;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  height: 45px;
  clear: both;
  position: relative;
}
/* line 92, ../sass/screen.sass */
#container #navbar h2 {
  position: absolute;
  color: #987c5c;
  right: -24em;
  padding: 0;
  font: normal 120% Georgia, "Times New Roman", Times, serif;
  margin-top: -1.8em;
}
/* line 99, ../sass/screen.sass */
#container #navbar ul {
  list-style: none;
  display: inline-block;
  text-indent: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  padding: 0;
}
/* line 109, ../sass/screen.sass */
#container #navbar li {
  list-style: none;
  display: inline;
  padding-top: 0;
  height: 45px;
  float: left;
}
/* line 115, ../sass/screen.sass */
#container #navbar a {
  display: block;
  padding: 0;
  margin: 0;
  float: left;
  height: 2.8em;
  width: 7.5em;
  text-align: left;
  clear: left;
  background-image: url("../images/buttons/nav.png");
  text-indent: -9999px;
  height: 45px;
}
/* line 127, ../sass/screen.sass */
#container #navbar #home a {
  width: 120px;
  background-position: left top;
}
/* line 130, ../sass/screen.sass */
#container #navbar #home a:hover {
  background-position: left bottom;
}
/* line 132, ../sass/screen.sass */
#container #navbar #about a {
  width: 120px;
  background-position: -120px top;
}
/* line 135, ../sass/screen.sass */
#container #navbar #about a:hover {
  background-position: -120px bottom;
}
/* line 137, ../sass/screen.sass */
#container #navbar #services a {
  width: 120px;
  background-position: -240px top;
}
/* line 140, ../sass/screen.sass */
#container #navbar #services a:hover {
  background-position: -240px bottom;
}
/* line 142, ../sass/screen.sass */
#container #navbar #contact a {
  width: 120px;
  background-position: -360px top;
}
/* line 145, ../sass/screen.sass */
#container #navbar #contact a:hover {
  background-position: -360px bottom;
}

/* line 148, ../sass/screen.sass */
img.bio_video {
  position: absolute;
  width: 8em;
  margin-bottom: 1em;
  bottom: 0;
  right: 75px;
}

/*  ************* Content Layout  ************* */
/* line 157, ../sass/screen.sass */
#contact_locations {
  text-align: center;
  background: transparent no-repeat;
  margin: 3em auto 2em auto;
}
/* line 161, ../sass/screen.sass */
#contact_locations h2 {
  width: 100%;
  text-align: center;
  color: #515151;
  font: 200% Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0.5em;
}

/* line 168, ../sass/screen.sass */
.contact_bubbles {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #d3d2d3 2px 3px 8px;
  -webkit-box-shadow: #d3d2d3 2px 3px 8px;
  -o-box-shadow: #d3d2d3 2px 3px 8px;
  box-shadow: #d3d2d3 2px 3px 8px;
  width: 46%;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  padding: 1em;
  background: white url(../images/backgrounds/contact_locations_bg.png) repeat-y right center;
}

/* line 176, ../sass/screen.sass */
#ambler {
  float: left;
}

/* line 178, ../sass/screen.sass */
#westchester {
  float: right;
}

/* line 181, ../sass/screen.sass */
#contact_locations img {
  float: left;
  position: relative;
  width: 50%;
  border-style: none;
}

/* line 187, ../sass/screen.sass */
img#ichat {
  float: left;
  width: 28%;
  display: block;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3.5em;
}

/*  ************* Bio Layout  ************* */
/* line 198, ../sass/screen.sass */
#bio_group {
  width: 100%;
  height: 100%;
  margin-top: 2em;
  margin-bottom: 2em;
}

/* line 204, ../sass/screen.sass */
.bio {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: #d3d2d3 2px 3px 8px;
  -webkit-box-shadow: #d3d2d3 2px 3px 8px;
  -o-box-shadow: #d3d2d3 2px 3px 8px;
  box-shadow: #d3d2d3 2px 3px 8px;
  text-align: center;
  display: block;
  padding: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  width: 46%;
}

/* line 213, ../sass/screen.sass */
#chip {
  clear: left;
  float: left;
  background: white url(../images/about/apple_chip.png) no-repeat 96% 17.8em;
}

/* line 217, ../sass/screen.sass */
#jay {
  clear: right;
  float: right;
  background: white url(../images/about/apple_jay.png) no-repeat 96% 17.8em;
}

/* line 222, ../sass/screen.sass */
.info {
  text-align: center;
  float: right;
  width: 46%;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* line 227, ../sass/screen.sass */
.info h2 {
  color: #525252;
  z-index: 1;
  text-transform: capitalize;
  font: small-caps 260% Georgia, "Times New Roman", Times, serif;
}
/* line 232, ../sass/screen.sass */
.info p {
  color: #282828;
  text-align: center;
  white-space: normal;
  z-index: 1;
  word-spacing: 0.2em;
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}

/* line 242, ../sass/screen.sass */
blockquote.info {
  margin: 2em auto;
  font-style: italic;
  width: 100%;
}
/* line 246, ../sass/screen.sass */
blockquote.info:before {
  float: left;
  font-family: Georgia;
  margin-bottom: -10em;
  font-size: 300%;
  content: '"';
  color: #d3d2d3;
  opacity: 0.5;
  margin-left: -0.9em;
  margin-top: -0.5em;
  position: relative;
  width: 50%;
}
/* line 258, ../sass/screen.sass */
blockquote.info:after {
  float: right;
  font-family: Georgia;
  content: '"';
  font-size: 300%;
  color: #d3d2d3;
  opacity: 0.49;
  padding-right: 0.2em;
  height: 0.4em;
}
/* line 269, ../sass/screen.sass */
blockquote.info img#chip_pic, blockquote.info img#jay_pic {
  width: 225px;
  position: relative;
}

/* line 273, ../sass/screen.sass */
.bio_pic {
  float: left;
}

/* line 276, ../sass/screen.sass */
img#apple_logo {
  width: 8%;
  float: left;
  position: absolute;
  top: 18.3em;
  left: 26.5em;
}

/* line 284, ../sass/screen.sass */
img#chip_pic, img#jay_pic {
  width: 225px;
  position: relative;
}

/* line 288, ../sass/screen.sass */
#bio h2 {
  color: #525252;
  z-index: 1;
  text-transform: capitalize;
  font: small-caps 260% Georgia, "Times New Roman", Times, serif;
}

/* line 294, ../sass/screen.sass */
#contact_locations h3 {
  color: #515151;
  text-transform: capitalize;
  font: small-caps 260% Georgia, "Times New Roman", Times, serif;
  margin-bottom: 0.5em;
}

/* line 300, ../sass/screen.sass */
#tagus blockquote p {
  clear: none;
  position: relative;
  margin-top: 1.5em;
  color: gray;
}

/* line 306, ../sass/screen.sass */
#container div#top_footer #backgrounds {
  float: left;
  clear: right;
  padding-top: 3em;
  width: 9.9em;
}

/* line 312, ../sass/screen.sass */
#backgrounds img#background {
  width: 20em;
  position: relative;
  z-index: 0;
  float: left;
  padding-right: 3em;
  bottom: 2.5em;
  display: block;
  clear: left;
}

/*  ************* Top Footer Layout  ************* */
/* line 324, ../sass/screen.sass */
div#sitemap h3, div#contact_info h3 {
  color: #515151;
  font: 2em Georgia, "Times New Roman", Times, serif;
}
/* line 327, ../sass/screen.sass */
div#email_sub h3 {
  color: #515151;
  font: 2em Georgia, "Times New Roman", Times, serif;
  padding-bottom: 0.5em;
}

/* line 332, ../sass/screen.sass */
#container #top_footer {
  width: 97%;
  height: 100%;
  text-align: center;
  border-top-style: none;
  border: 0.1em solid #d3d2d3;
  background: white url(../images/backgrounds/top_footer.png) repeat-x left bottom;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 2px 3px 8px #d3d2d3;
  -webkit-box-shadow: 2px 3px 8px #d3d2d3;
  float: left;
  display: block;
  margin-bottom: 1em;
  padding: 1em;
}

/* line 349, ../sass/screen.sass */
div#services {
  display: block;
  position: relative;
  float: left;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-box-shadow: 2px 3px 8px #d3d2d3;
  -webkit-box-shadow: 2px 3px 8px #d3d2d3;
  border: 0.1em solid #d3d2d3;
  margin-top: 2em;
  margin-bottom: 2em;
  background: white url(../images/logo/apple_guys_bg.png) no-repeat right bottom;
}
/* line 363, ../sass/screen.sass */
div#service_info {
  float: right;
  height: 100%;
  background: transparent none repeat-x center center;
  clear: none;
  position: relative;
  width: 71%;
}

/* line 372, ../sass/screen.sass */
#service_info p {
  font-family: Georgia, "Times New Roman", Times, serif;
  word-spacing: 0.2em;
  padding: 1em 2em;
  line-height: 150%;
  background-color: transparent;
}
/* line 378, ../sass/screen.sass */
#service_info h4 {
  text-align: center;
  text-transform: uppercase;
  font: 200%/120% Georgia, "Times New Roman", Times, serif;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  letter-spacing: 0.06em;
}

/* line 388, ../sass/screen.sass */
#services h1 {
  display: block;
  border-bottom: 0.1em solid #d3d2d3;
  float: left;
  color: #515151;
  font: 2em Georgia, "Times New Roman", Times, serif;
  padding: 0.5em 2em 0.5em 0.5em;
  width: 92%;
  background: url(../images/backgrounds/h1_bg.png) repeat-x center top;
}
/* line 397, ../sass/screen.sass */
#services ol {
  float: left;
  display: block;
  position: relative;
  list-style-type: none;
  padding: 1em;
  width: 25%;
  height: 100%;
  border-right: 0.1em solid #d3d2d3;
  background: url(../images/backgrounds/ol_bg.png) repeat-y left top;
  clear: both;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
}
/* line 410, ../sass/screen.sass */
#services li {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 0.1em solid #d3d2d3;
  color: #817b7b;
  font: bold 1em Georgia, "Times New Roman", Times, serif;
}

/* line 419, ../sass/screen.sass */
#serivces li {
  padding-top: 1em;
  padding-bottom: 1em;
}

/* line 423, ../sass/screen.sass */
#container div#top_footer #sitemap {
  clear: left;
  float: left;
  width: 8em;
  padding: 1em;
  line-height: 2em;
  height: 100%;
  position: relative;
  margin-left: 10px;
}
/* line 432, ../sass/screen.sass */
#container div#top_footer #sitemap ol li {
  list-style-position: inside;
  list-style-type: none;
  text-align: left;
  border-bottom: 1px solid #c8c8c8;
  width: 8em;
  font-family: Georgia, "Times New Roman", Times, serif;
  list-style-image: url(../images/buttons/block_bullet.png);
  opacity: 1;
  line-height: 2.3em;
}
/* line 442, ../sass/screen.sass */
#container div#top_footer #sitemap ol li:last-child {
  border-bottom: 0;
}

/* line 445, ../sass/screen.sass */
a {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #525252;
}

/* line 450, ../sass/screen.sass */
#container div#top_footer #contact_info {
  float: left;
  width: 520px;
  padding: 1em 0;
  margin-left: 40px;
  position: relative;
  height: 100%;
}

/* line 459, ../sass/screen.sass */
div#a {
  clear: left;
  display: block;
  float: left;
  padding-right: 0;
  padding-left: 1em;
  border-right: 0.1em solid #d3d2d3;
  margin-top: 1em;
  width: 240px;
  height: 100%;
}
/* line 469, ../sass/screen.sass */
div#wc {
  width: 225px;
  clear: right;
  float: left;
  position: relative;
  text-align: right;
  padding-left: 15px;
  padding-right: 1em;
  margin-top: 1em;
  height: 100%;
}
/* line 479, ../sass/screen.sass */
div#contact_info p {
  width: 95%;
  height: 100%;
  color: #525252;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 2em;
  background-position: 0 50%;
  text-align: right;
  margin-right: 0;
  margin-top: 0.5em;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 0;
}

/* line 493, ../sass/screen.sass */
#contact_info a {
  text-decoration: none;
  color: #525252;
}

/* line 497, ../sass/screen.sass */
p#maps {
  background: url(../images/buttons/maps.png) no-repeat;
}

/* line 501, ../sass/screen.sass */
#contact_locations a p, #contact_locations p a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  margin: 0;
  width: 45%;
  float: right;
  clear: right;
  position: relative;
  padding: 0 0 0.5em;
  text-align: center;
}
/* line 511, ../sass/screen.sass */
#contact_locations h4 {
  color: black;
  text-align: left;
  padding: 0;
  width: 45%;
  float: right;
  margin: 0 0 0.7em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

/* line 521, ../sass/screen.sass */
h5 {
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.6em;
  text-align: center;
  position: relative;
}

/* line 527, ../sass/screen.sass */
#sitemap ol {
  margin-top: 1em;
}

/* line 530, ../sass/screen.sass */
#phone {
  background: url(../images/buttons/phone.png) no-repeat 0 50%;
  margin-top: 0.5em;
}

/* line 534, ../sass/screen.sass */
#container div#top_footer #email_sub {
  width: 10.3em;
  clear: none;
  display: block;
  position: relative;
  float: left;
  padding: 1em;
}

/* line 542, ../sass/screen.sass */
#email_sub form input {
  width: 100%;
  height: 1.5em;
  background-color: white;
  margin-top: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: gray;
}

/* line 551, ../sass/screen.sass */
#email_sub form input.submit {
  color: gray;
  width: 40%;
  position: absolute;
  font-size: 15px;
  margin-top: 10px;
  right: 0.8em;
}

/*  ************* Footer Layout  ************* */
/* line 561, ../sass/screen.sass */
#footer {
  clear: both;
  width: 100%;
  font-size: 11px;
  vertical-align: top;
  color: white;
  text-align: center;
  position: relative;
  background: transparent url(../images/backgrounds/bg_bottom.png) repeat-x center top;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: auto;
}

/* line 574, ../sass/screen.sass */
p#top {
  background: url(../images/backgrounds/footer_line.png) no-repeat center bottom;
}

/* line 578, ../sass/screen.sass */
#footer > p {
  padding: 2em;
  position: relative;
  color: #f8f4ea;
}
/* line 582, ../sass/screen.sass */
#footer p a {
  color: white;
}
