/* line 17, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* incase an inverted custom gradient isn't specified */
/* line 177, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class {
  font-family: "Lucida Grande", Lucida, Arial, sans-serif;
  background: url('/images/button_bg.png?1331402483') repeat-x bottom left;
  margin: 0;
  width: auto;
  overflow: visible;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border-style: solid;
  font-weight: bold;
}
/* line 165, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class::-moz-focus-inner {
  border: none;
  padding: 0;
}
/* line 168, ../../../../../Users/jeff/.rvm/gems/ruby-1.9.3-p125@tag/gems/fancy-buttons-1.1.2/lib/stylesheets/_fancy-buttons.sass */
.fancy-button-reset-base-class:focus {
  outline: none;
}

/* line 4, ../sass/services_screen.sass */
#services {
  -moz-box-shadow: 0px 0px 8px #333333;
  -webkit-box-shadow: 0px 0px 8px #333333;
  -o-box-shadow: 0px 0px 8px #333333;
  box-shadow: 0px 0px 8px #333333;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  display: block;
  position: relative;
  border: 0.1em solid #d3d2d3;
  width: 1000px;
  margin-top: 4em;
  margin-bottom: 4em;
}
/* line 13, ../sass/services_screen.sass */
#services h1 {
  display: block;
  cursor: pointer;
  border-bottom: 0.1em solid #d3d2d3;
  color: #515151;
  font: 2em Georgia, "Times New Roman", Times, serif;
  padding: 0.5em 2em 0.5em 0.5em;
  width: 92%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f9f5ec));
  background-image: -webkit-linear-gradient(top, #ffffff, #f9f5ec);
  background-image: -moz-linear-gradient(top, #ffffff, #f9f5ec);
  background-image: -o-linear-gradient(top, #ffffff, #f9f5ec);
  background-image: -ms-linear-gradient(top, #ffffff, #f9f5ec);
  background-image: linear-gradient(top, #ffffff, #f9f5ec);
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* line 24, ../sass/services_screen.sass */
#services_content {
  display: block;
  width: 100%;
  background: white url(../images/logo/apple_guys_bg.png) no-repeat right bottom;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -o-border-bottom-right-radius: 10px;
  -ms-border-bottom-right-radius: 10px;
  -khtml-border-bottom-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* line 30, ../sass/services_screen.sass */
#services_menu {
  display: inline-block;
  width: 250px;
  margin-left: -1px;
  margin-right: -1px;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(100%, #f9f5ec));
  background-image: -webkit-linear-gradient(left, #ffffff, #f9f5ec);
  background-image: -moz-linear-gradient(left, #ffffff, #f9f5ec);
  background-image: -o-linear-gradient(left, #ffffff, #f9f5ec);
  background-image: -ms-linear-gradient(left, #ffffff, #f9f5ec);
  background-image: linear-gradient(left, #ffffff, #f9f5ec);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -o-border-bottom-left-radius: 10px;
  -ms-border-bottom-left-radius: 10px;
  -khtml-border-bottom-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* line 37, ../sass/services_screen.sass */
#services_menu ul {
  display: block;
  position: relative;
  list-style-type: none;
  padding: 1em 0;
  height: 100%;
  border-right: 2px solid #d3d2d3;
}
/* line 44, ../sass/services_screen.sass */
#services_menu li {
  padding: 1em;
  padding-right: 0;
  border-bottom: 0.1em solid #d3d2d3;
  color: #817b7b;
  cursor: pointer;
  font: bold 15px Georgia, "Times New Roman", Times, serif;
}
/* line 52, ../sass/services_screen.sass */
#services_menu li:hover a {
  color: #515151;
}
/* line 54, ../sass/services_screen.sass */
#services_menu li:last-child {
  border: none;
}
/* line 56, ../sass/services_screen.sass */
#services_menu li a {
  color: #817b7b;
}
/* line 58, ../sass/services_screen.sass */
#services_menu .selected {
  background-color: #515151;
  margin-right: -1px;
}
/* line 61, ../sass/services_screen.sass */
#services_menu .selected a {
  color: white;
}
/* line 64, ../sass/services_screen.sass */
#services_menu .selected:hover a {
  color: white;
}

/* line 67, ../sass/services_screen.sass */
#service_info {
  display: inline-block;
  vertical-align: top;
  margin: 50px 20px;
  height: 100%;
  width: 700px;
  position: relative;
}
/* line 74, ../sass/services_screen.sass */
#service_info div.services_detail {
  display: none;
}
/* line 76, ../sass/services_screen.sass */
#service_info div.services_detail p {
  font-family: Georgia, "Times New Roman", Times, serif;
  word-spacing: 0.2em;
  padding: 1em 2em;
  line-height: 150%;
}
/* line 81, ../sass/services_screen.sass */
#service_info div.services_detail h4 {
  text-align: center;
  text-transform: uppercase;
  font: 200%/120% Georgia, "Times New Roman", Times, serif;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 0.5em;
  letter-spacing: 0.06em;
}

/* line 90, ../sass/services_screen.sass */
#towns_lists {
  width: 400px;
  margin: 20px auto;
}

/* line 93, ../sass/services_screen.sass */
ul.towns_list {
  display: inline-block;
}
/* line 95, ../sass/services_screen.sass */
ul.towns_list:last-child {
  margin-left: 90px;
}
/* line 97, ../sass/services_screen.sass */
ul.towns_list li {
  padding-bottom: 10px;
  font-weight: bold;
  border: none;
  font: Georgia, "Times New Roman", Times, serif;
  color: #515151;
}
